---
---
{% assign days = site.data.hacks | group_by:"date" %}
<div class="intro">
  <img src="assets/google-cardboard.png">
  <h1>{{ site.title }}</h1>
  <p>{{ site.description }}</p>
  <nav>
    {% for day in days %}
      <a href="#{{ day.name | date:'%d' }}" class="day day-{{ day.name | date:'%d' }}">{{ day.name | date:'%d' }}</a>
    {% endfor %}
  </nav>
</div>
<div class="timeline">
{% for day in days %}
  <div class="day day-{{ day.name | date:'%d' }}" id="{{ day.name | date:'%d' }}">
    <h2>{{ day.name | date: '%d' }}</h2>
    <div class="hacks">
      {% for hack in day.items %}
        <div class="hack hack-{{ hack.by }}" id="{{ day.name | date:'%d' }}-{{ hack.by }}">
            {% if hack.img %}
              <div class="img-wrapper">
                <img src="assets/loading.gif" data-src="{{ hack.img }}" alt="{{ hack.title }}">
              </div>
            {% endif %}
          <h3>{{ hack.title }}</h3>
          <div class="author">
            by <a href="https://github.com/{{ hack.by }}" target="_blank">{{ hack.by }}</a>
          </div>
          <div class="btns">
            {% if hack.url %}
            <a href="{{ hack.url }}" target="_blank" class="btn">
              View hack
            </a>
            {% endif %}
            {% if hack.blog_url %}
            <a href="{{ hack.blog_url }}" target="_blank" class="btn">
              View post
            </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
</div>
