---
---
@charset "utf-8";

$boxWidth: 36vw;
$gutter: 8vw;
$lineThickness: .4vw;

html, body {
  margin: 0;
  padding: 0;
}
html {
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  font-family: Roboto Condensed;
}
h1, h2 {
  font-family: Megrim;
}
h3 {
  margin: 0;
  padding: 1em 0;
}
a {
  color: #000;
  text-decoration: none;
}
.intro {
  width: 100%;
  min-height: 100vh;
  padding: 10vh 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: $lineThickness $lineThickness 0 rgba(#000, .2);
  position: relative;
  z-index: 1;

  img {
    max-width: 20vw;
    height: auto;
  }

  h1 {
    text-align: center;
    font-size: 5vw;
    text-transform: uppercase;
  }
  p {
    max-width: 70vw;
    text-align: center;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 70vw;
  margin-top: 20px;

  .day {
    padding: .5em;
    background: #111;
    color: #fff;
    text-decoration: none;
    font-family: Megrim;
    font-weight: bold;
    font-size: 21px;
    letter-spacing: .2em;
    line-height: 1;
    margin: .25vw;
    transition: all .2s ease;
    flex-basis: 8.5%; // magic
    text-align: center;
  }
}
.timeline {
  .day {
    position: relative;
    background: #111;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    padding: 2vw 2vw 200px;
    box-sizing: border-box;

    h2 {
      background: #fff;
      color: #000;
      width: 10vw;
      margin: 0 auto 2vw;
      padding: 1vw;
      letter-spacing: .2em;
      position: relative;
      z-index: 1;
      box-shadow: $lineThickness $lineThickness 0 rgba(#000, .2);
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
    }

    &::after {
      left: 50%;
      margin-left: -($lineThickness/2);
      width: $lineThickness;
      background: #fff;
      top: -$lineThickness * 1.1;
      bottom: -$lineThickness;
      box-shadow: $lineThickness $lineThickness 0 rgba(#000, .2);
    }
    &::before {
      width: 110vw;
      height: 10vw;
      transform: rotate(-5deg) translateX(-50%);
      transform-origin: 50%;
      left: 50%;
      bottom: 0;
    }
  }
}
.hack {
  position: relative;
  width: $boxWidth;
  background: #fff;
  display: block;
  margin: 0 auto 2vw;
  padding: 0;
  clear: both;
  box-shadow: $lineThickness $lineThickness 0 rgba(#000, .2);
  z-index: 11;

  .img-wrapper {
    height: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 50%;

    img {
      position: absolute;
      left: 0; top: 0; right: 0; bottom: 0;
      margin: 0 auto;
      width: 100%;
    }
  }
  h3 {
    color: #000;
    font-size: 2vw;
    line-height: 1.2;
    margin: 0 20px;
    text-align: left;
  }
  .author {
    text-align: left;
    margin-left: 20px;

    a {
      text-decoration: underline;

      &:hover {
        color: #fff;
        background: #000;
      }
    }
  }

  &::after,
  &::before {
    position: absolute;
    content: '';
    background: #fff;
    top: 50%;
    z-index: 12;
  }

  // line
  &::before {
    height: $lineThickness;
    margin-top: -($lineThickness/2);
    width: $gutter;
  }

  // diamond
  &::after {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    transform: rotate(-45deg);
    box-shadow: $lineThickness $lineThickness 0 rgba(#000, .2);
  }

  &:nth-child(odd) {
    transform: translateX(-(($boxWidth/2) + $gutter + ($lineThickness / 2)));

    &::after,
    &::before {
      right: -($gutter);
    }
    &::after {
      margin-right: -12px;
    }
  }

  &:nth-child(even) {
    transform: translateX((($boxWidth/2) + $gutter + ($lineThickness / 2)));

    &::after,
    &::before {
      left: -($gutter);
    }
    &::after {
      margin-left: -12px;
      z-index: 11;
    }
  }
}

$colors: (
  ("intro", #fff),
  ("01", #868e96),
  ("02", #fa5252),
  ("03", #e64980),
  ("04", #be4bdb),
  ("05", #7950f2),
  ("06", #4c6ef5),
  ("07", #228ae6),
  ("08", #15aabf),
  ("09", #12b886),
  ("10", #40c057),
  ("11", #82c91e),
  ("12", #fab005),
  ("13", #fd7e14),
  ("14", #fa5252),
  ("15", #e64980),
  ("16", #be4bdb),
  ("17", #7950f2),
  ("18", #4c6ef5),
  ("19", #228ae6),
  ("20", #15aabf),
  ("21", #12b886),
  ("22", #40c057),
  ("23", #82c91e),
  ("24", #fab005),
  ("25", #fd7e14),
  ("26", #fa5252),
  ("27", #e64980),
  ("28", #be4bdb),
  ("29", #7950f2),
  ("30", #4c6ef5),
  ("31", #228ae6),
  ("32", #15aabf),
);

.timeline {
  .day {
    $i: 1;
    @each $num,$color in $colors {
      &-#{$num} {
        &,
        .btn {
          background-color: $color;
        }


        @if $i != 32 {
          &::before {
            background-color: nth(nth($colors, $i + 1), 2);
          }
          $i: $i + 1;
        }
      }
    }
    // Stop showing next section color when only one day
    &:only-child,
    &:last-child {
      &::before {
        display: none;
      }
    }
  }
}
nav {
  .day {
    @each $num,$color in $colors {
      &-#{$num}:hover {
        background-color: $color;
      }
    }
  }
}

.btns {
  padding: 1em 0;
}
.btn {
  padding: .5em 1em;
  line-height: 1;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
}


@media (max-width: 900px) {
  .intro {
    min-height: 0;

    img {
      max-width: 200px;
    }
    h1 {
      font-size: 30px;
    }
  }
  .timeline {
    .day {
      padding: 20px 10px;

      &::after,
      &::before {
        display: none!important;
      }
    }
  }
  .hack {
    display: inline-block;
    transform: none!important;
    width: 48%!important;

      &::after,
      &::before {
        display: none!important;
      }
  }
}
@media (max-width: 600px) {
  .timeline {
    .hack {
      position: static;
      width: 100%!important;
      transform: none!important;

      h3 {
        font-size: 20px!important;
      }
    }
  }
}
